venv
# Exclude .env file
.env

# Exclude node_modules directory
node_modules/

# Exclude uploads directory
/uploads/

# Exclude the SQLite database file
db.sqlite3

# Exclude all .zip files
*.zip

venv